@-webkit-keyframes flipInY {
  0% {-webkit-transform: perspective(400px) rotate3d(0,1,0,90deg); opacity: 0;}
  40% {-webkit-transform: perspective(400px) rotate3d(0,1,0,-20deg);}
  60% {-webkit-transform: perspective(400px) rotate3d(0,1,0,10deg); opacity: 1;}
  80% {-webkit-transform: perspective(400px) rotate3d(0,1,0,-5deg);}
  100% {-webkit-transform: perspective(400px);}
}
@-moz-keyframes flipInY {
  0% {-moz-transform: perspective(400px) rotate3d(0,1,0,90deg); opacity: 0;}
  40% {-moz-transform: perspective(400px) rotate3d(0,1,0,-20deg);}
  60% {-moz-transform: perspective(400px) rotate3d(0,1,0,10deg); opacity: 1;}
  80% {-moz-transform: perspective(400px) rotate3d(0,1,0,-5deg);}
  100% {-moz-transform: perspective(400px);}
}
@-ms-keyframes flipInY {
  0% {-ms-transform: perspective(400px) rotate3d(0,1,0,90deg); opacity: 0;}
  40% {-ms-transform: perspective(400px) rotate3d(0,1,0,-20deg);}
  60% {-ms-transform: perspective(400px) rotate3d(0,1,0,10deg); opacity: 1;}
  80% {-ms-transform: perspective(400px) rotate3d(0,1,0,-5deg);}
  100% {-ms-transform: perspective(400px);}
}
@-o-keyframes flipInY {
  0% {-o-transform: perspective(400px) rotate3d(0,1,0,90deg); opacity: 0;}
  40% {-o-transform: perspective(400px) rotate3d(0,1,0,-20deg);}
  60% {-o-transform: perspective(400px) rotate3d(0,1,0,10deg); opacity: 1;}
  80% {-o-transform: perspective(400px) rotate3d(0,1,0,-5deg);}
  100% {-o-transform: perspective(400px);}
}
@keyframes flipInY {
  0% {transform: perspective(400px) rotate3d(0,1,0,90deg); opacity: 0;}
  40% {transform: perspective(400px) rotate3d(0,1,0,-20deg);}
  60% {transform: perspective(400px) rotate3d(0,1,0,10deg); opacity: 1;}
  80% {transform: perspective(400px) rotate3d(0,1,0,-5deg);}
  100% {transform: perspective(400px);}
}

@mixin flipInY($duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(flipInY);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}
